/node_modules
/public/css
/public/fonts
/public/images
/public/js
/public/hot
/public/service-worker.js
/public/storage
/public/svg
/public/js/app.js
/public/images/strutture
/storage/*.key
/storage/logs/*
/vendor
/tests/report
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.phpunit.result.cache
